In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\PYTON PROGRAMMING\PYTHON FILES\MATPLOTLIB\PROJECTS\us-transport-trends\Data\Transportation_Services_Index_and_Seasonally-Adjusted_Transportation_Data.csv")

In [3]:
df.head()

,ID,OBS_DATE,ASM,ASM_D11,ASM_D,ASM_D_D11,ASM_I,ASM_I_D11,RPM,RPM_D11,...,IDX_AIR_RPM,IDX_AIR_RTMFM,IDX_RAIL_FRT_CARLOADS,IDX_RAIL_FRT_INTERMODAL,IDX_RAIL_PM,IDX_TRANSIT_D11,IDX_PETROLEUM_D11,IDX_NATURAL_GAS_D11,IDX_WATERBORNE_D11,IDX_TRUCK_D11
0,SATD200001,01/01/2000,76146639.0,77912032.0,56288872.0,57555974.0,19857767.0,20356058.0,48263245.0,53690489.0,...,0.9485,0.9619,1.0152,1.0017,0.9565,0.9773,0.9499,0.9660,1.1204,1.0670
1,SATD200002,02/01/2000,73011377.0,78569910.0,54329819.0,57833010.0,18681558.0,20736900.0,48580127.0,55655557.0,...,0.9772,0.9850,1.0116,1.0048,0.9539,0.9779,1.0168,0.9818,0.9844,1.0550
2,SATD200003,03/01/2000,80308529.0,79327473.0,59913798.0,58404446.0,20394731.0,20923027.0,59632014.0,56835729.0,...,0.9941,0.9723,1.0073,1.0052,0.9763,0.9984,0.9824,0.9178,1.0619,0.9972
3,SATD200004,04/01/2000,78139993.0,79328391.0,57402637.0,58373758.0,20737356.0,20954632.0,57636732.0,57839048.0,...,0.9996,0.9934,1.0014,1.0011,1.0018,0.9870,0.9934,0.9819,1.0289,0.9668
4,SATD200005,05/01/2000,80515093.0,79089326.0,58896522.0,58179479.0,21618571.0,20909846.0,59749900.0,58954744.0,...,1.0327,0.9825,1.0044,0.9994,1.0181,0.9950,0.9783,1.0512,1.0630,0.9765